<div>
 <li>
    <a
      (click)="changeDisplayMode(displayModeEnum.Card)"
      [class.active]="displayMode !== displayModeEnum.Card"
    > Card View
    </a>
  </li>

  <li>
    <a
      (click)="changeDisplayMode(displayModeEnum.Grid)"
      [class.active]="displayMode !== displayModeEnum.Grid"
    >List View
    </a>
  </li>
 
  <li>
    <a routerLink="/edit">New Customer
    </a>
  </li>
</div>


<app-users-card
  [Users]="Users"
  [hidden]="displayMode !== displayModeEnum.Card"
></app-users-card>

<app-users-grid
  [Users]="Users"
  [hidden]="displayMode !== displayModeEnum.Grid"
></app-users-grid>

<div>
  <a routerLink="/lazy">LAZY LOAD COMPONENT</a>
</div>

<P></P>

<div>
  <label> User name: </label>
  <input #userName />

  <button (click)="add(userName.value); userName.value = ''">Add user</button>
</div>

<ul>
  <li *ngFor="let User of Users">
    <a routerLink="/detail/{{ User.id }}">
      <span>{{ User.name }}</span>
    </a>
    <button (click)="delete(User)">x</button>
  </li>
</ul>
